body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(8, 2, 138) 0%, rgb(49, 21, 190) 17%, rgba(0,212,255,1) 99%);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

input[type="text"],
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: rgb(13, 175, 27);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}